Spider-Clue/Connected Services/SpiderClueService/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.111:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.111:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.111:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManager_AddUserTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserTransaction" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AddUserTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_IsAccountExisting_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAccountExisting" />
  </wsdl:message>
  <wsdl:message name="IUserManager_IsAccountExisting_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAccountExistingResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AuthenticateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAccount" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AuthenticateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_RequestGuessPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestGuessPlayer" />
  </wsdl:message>
  <wsdl:message name="IUserManager_RequestGuessPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestGuessPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AuthenticateGamertag_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateGamertag" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AuthenticateGamertag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateGamertagResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AuthenticateEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateEmail" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AuthenticateEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManager">
    <wsdl:operation name="AddUserTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AddUserTransaction" message="tns:IUserManager_AddUserTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AddUserTransactionResponse" message="tns:IUserManager_AddUserTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAccountExisting">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/IsAccountExisting" message="tns:IUserManager_IsAccountExisting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/IsAccountExistingResponse" message="tns:IUserManager_IsAccountExisting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AuthenticateAccount" message="tns:IUserManager_AuthenticateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AuthenticateAccountResponse" message="tns:IUserManager_AuthenticateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestGuessPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/RequestGuessPlayer" message="tns:IUserManager_RequestGuessPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/RequestGuessPlayerResponse" message="tns:IUserManager_RequestGuessPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateGamertag">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AuthenticateGamertag" message="tns:IUserManager_AuthenticateGamertag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AuthenticateGamertagResponse" message="tns:IUserManager_AuthenticateGamertag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AuthenticateEmail" message="tns:IUserManager_AuthenticateEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AuthenticateEmailResponse" message="tns:IUserManager_AuthenticateEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserManager" type="tns:IUserManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUserTransaction">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AddUserTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAccountExisting">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/IsAccountExisting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAccount">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AuthenticateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestGuessPlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/RequestGuessPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateGamertag">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AuthenticateGamertag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateEmail">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AuthenticateEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IUserManager" binding="tns:NetTcpBinding_IUserManager">
      <soap12:address location="net.tcp://192.168.0.111:8081/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.111:8081/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>